<html>
<body>
   <?php 
   echo $this->Html->link('Add Employee','../Employees/add/');
   if($data==NULL){
       echo '<h2> Data Empty</h2>';
   }
   else{
       echo "<table>
                <tr>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Job Title </th>
                    <th> Email </th>                    
                </tr>";             
       foreach($data as $item){       
           echo "<tr>";
           echo "<td>".$item['Employee']['ID']."</td>";
           echo "<td>";
                      echo $this->Html->link($item['Employee']['Name'],'../Employees/profile/'.$item['Employee']['ID']);
           echo "</td>";
           echo "<td>".$item['Employee']['Job_Title']."</td>";
           echo "<td>".$item['Employee']['Email']."</td>";
           echo"<td>";
  
                    echo $this->Html->link('Edit','../Employees/edit/'.$item['Employee']['ID']);
                
           echo "</td>".
            "<td>";
                
                    echo $this->Html->link('Del','../Employees/delete/'.$item['Employee']['ID']);
                
            echo "</td>";
           
           echo "</tr>";
           echo "</br";          
       }
       echo "</table>";
   }
   ?>
</body>
</html>
