<h3>Name:<?php echo $Employees['Employee']['Name'];?></h3>
<h3>Avatar: <img  src="<?php echo $Employees['Employee']['Photo'];?>" width='50px' height='50px'></h3>
<h3>Department:<?php echo $Employees['Employee']['Department'];?></h3>          
<h3>Job Title:<?php echo $Employees['Employee']['Job_Title'];?></h3>   
<h3>Cellphone:<?php echo $Employees['Employee']['Cellphone'];?></h3>   
<h3>Email:<?php echo $Employees['Employee']['Email'];?></h3>   
<h3><?php echo $this->Html->link('Back','../Employees/index');?></h3>
       