<h3>Name: <?php echo $Department['Department']['Name'];?></h3>
<h3>Office Phone: <?php echo $Department['Department']['Office_Phone']?></h3>
<h3>Manager: <?php echo $Department['Department']['Manager']?></h3>
<h3><?php echo $this->Html->link('Back','../Departments/view_list');?></h3>

