<html>
<body>
   <?php 
   echo  $this->Html->link('Add Department','../Departments/add/');
   if($data==NULL){
       echo '<h2> Data Empty</h2>';
   }
   else{
       echo "<table>
                <tr>                  
                    <th> Name </th>
                    <th> Office Phone </th>
                    <th> Manager </th>                    
                </tr>";      
       foreach($data as $item){           
           echo "<tr>";          
           echo "<td>";
                      echo $this->Html->link($item['Department']['Name'],'../Departments/detail/'.$item['Department']['ID']);
           echo "</td>";
           echo "<td>".$item['Department']['Office_Phone']."</td>";          
           echo "<td>".$item['Department']['Manager']."</td>";    
           echo "<td><button type='submit' value='Employee'>"."Employee"."</button></td>";
           echo"<td>";
  
                    echo $this->Html->link('Edit','../Departments/edit/'.$item['Department']['ID']);
                
           echo "</td>".
            "<td>";
                
                    echo $this->Html->link('Del','../Departments/delete/'.$item['Department']['ID']);
                
           echo "</tr>";
           echo "</br>";
       }
       echo "</table>";
   }
   ?>
</body>
</html>
